{% extends "layout.html.twig" %}
{% set active="accueil"  %}
{% set version="Accueil version 1.1"  %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                            Editer projet
                    </h4>
                </div>
                <div class="panel-body">
                    {% if projet is defined %}
                        <form method="POST" action="{{ path("editProjet_check", {"id" : projet.id }) }}">
                    {% else %}
                        <form method="POST" action="{{ path("editProjet_check", {"id" : -1}) }}">
                    {% endif %}
                        <div class="form-group">
                            <label for="content">Contenu</label>
                            <textarea class="form-control" id="intitule" name="intitule" rows="3">
                                {% if projet is defined %}{{ projet.intitule }} {% endif %}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <input type="text" class="form-control" name="tags" id="tags"
                                   value="{% if projet is defined %}{% for tag in projet.tags %} {{ tag.name }} {% endfor %}{% endif %}">
                        </div>
                        <input type="reset" value="Effacez" class="btn btn-default">
                        <input type="submit" value="Validez" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        prévisualiseur
                    </h4>
                </div>
                <div class="panel-body" >
                    <div id="intitule-view">{% if projet is defined %}{{ projet.intitule | raw}} {% endif %}</div>
                    <div id="tags-view">{% if projet is defined %}{% for tag in projet.tags %} <div class="badge">{{ tag.name }}</div> {% endfor %}{% endif %}</div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ app.request.basepath }}/js/utilEditProjet.js"></script>
{% endblock %}