{% extends "layout.html.twig" %}
{% set active="game"  %}
{% set version="Interface de jeu version 1.0"  %}
{% block content %}
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <div class="thumbnail">
                    <img class="activator" src="{{ app.request.basepath }}/image/start.png">
                      <div class="caption">
                        <h3>Reversi</h3>
                        <p><a href="{{ path("reversi") }}" class="btn btn-primary" role="button">Jouer</a></p>
                      </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class="thumbnail">
                    <img class="activator" src="{{ app.request.basepath }}/image/pendu_prev.png">
                    <div class="caption">
                        <h3>Pendu</h3>
                        <p><a href="{{ path("pendu") }}" class="btn btn-primary" role="button">Jouer</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class="thumbnail">
                    <img class="activator" src="{{ app.request.basepath }}/image/lolrandom_prev.png">
                    <div class="caption">
                        <h3>LolRandom</h3>
                        <p><a href="{{ path("lolrandom") }}" class="btn btn-primary" role="button">Jouer</a></p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}