{% extends "layout.html.twig" %}
{% set active="game"  %}
{% set version="Système aléatoire de partie League of Legends version 1.0-Beta"  %}
{% block content %}
        <div class="row">
            <div class="col-xs-12 col-lg-2">
                <a class="btn btn-default" href="{{ path('lolrandom') }}"><span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Mes champions
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                            <form method="POST" action="{{ path("removeChamp") }}">
                                <div class="panel-body">
                                    <p>
                                        <label for="allMyChamp">Tout cocher</label>
                                        <input type="checkbox" id="allMyChamp" onclick="checkAllMyChamp()" />
                                    </p>
                                    {% for champ in myChamps %}
                                        <div class="col-xs-6 col-sm-2 col-lg-1">
                                            <p class="text-center">
                                                <a href="#" data-content="{{ champ.name }}" data-toggle="popover" data-trigger="hover" class="thumbnail">
                                                    <img src="http://ddragon.leagueoflegends.com/cdn/{{ lolversion }}/img/champion/{{ champ.image }}">
                                                </a>
                                                <input class="MyChamp" type="checkbox" name="{{ champ.id }}" id="{{ champ.id }}" />
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="panel-footer">
                                    <button type="submit" class="btn btn-default">Supprimer la séléction</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    Ajouter un champions
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="pane2-collapse collapse" role="tabpane2" aria-labelledby="heading2">
                            <form method="POST" action="{{ path("addChamp") }}">
                            <div class="panel-body">
                                <p>
                                    <label for="allNotMyChamp">Tout cocher</label>
                                    <input type="checkbox" id="allNotMyChamp" onclick="checkAllNotMyChamp()" />
                                </p>
                                <form method="POST" action="{{ path("addChamp") }}">
                                {% for champ in notMyChamp %}
                                    <div class="col-xs-6 col-sm-2 col-lg-1">
                                        <p class="text-center">
                                            <a href="#" data-content="{{ champ.name }}" data-toggle="popover" data-trigger="hover" class="thumbnail">
                                                <img src="http://ddragon.leagueoflegends.com/cdn/{{ lolversion }}/img/champion/{{ champ.image }}">
                                            </a>
                                            <input class="notMyChamp" type="checkbox" name="{{ champ.id }}" id="{{ champ.id }}" />
                                        </p>
                                    </div>
                                {% endfor %}
                             </div>
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-default">Ajouter la séléction</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="{{ app.request.basepath }}/js/lolrandom.js"></script>
{% endblock %}