{% extends "layout.html.twig" %}
{% set active="game"  %}
{% set version="Interface de jeu version 1.0"  %}
{% block content %}
         <link href="{{ app.request.basepath }}/css/reversi.css" rel="stylesheet">
    <script src='{{ app.request.basepath }}/js/reversi.js'></script>
    <?php
        {% if app.session.get("connected") %}
            <p></p>
            <script src="{{ app.request.basepath }}/js/connectedReversi.js" ></script>
        {% else %}
            <p></p>
            <script src="{{ app.request.basepath }}/js/offlineReversi.js" ></script>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12" id='stateGame'>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-2">
                <button id='replay' class="btn btn-primary" value='Rejouer'>Rejouer</button><br/><br/>
                <button id='saved' class="btn btn-primary" value='Sauvegarder'>Sauvegarder</button><br/><br/>
                <button id='loaded' class="btn btn-primary" value='Charger'>Charger</button><br/><br/>
                <button id='param' class="btn btn-primary" value='Paramètres'>Paramètres</button><br/><br/>
                <div id='opt'></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-8">
                <div class="col-lg-12 col-lg-offset-2" id='plateau'>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Règles</button>
                <br />
        {% if app.session.get("connected") %}
                <label>Scores :</label><br/>
                <button class="btn btn-primary" id='globalScore'>Globals</button><br /><br />
                <button class="btn btn-primary" id='persoScore'>Personnels</button>
                <div id='leaderBoard'></div>
                {% endif %}
            </div>
        </div>

    <!--Fenêtre modal-->
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Règles du reversi</h4>
          </div>
          <div class="modal-body"><p>
                    Le reversi se joue à 2 sur un plateau, ici le deuxième joueur est controlé par l'ordinateur.<br />
                    Les pions sont de couleurs noirs ou blancs (en version classique).<br />
                    Le but du jeu est d'avoir le plus de pions de sa couleur sur le plateau.<br />
                    Le jeu commence avec 4 pions sur le centre du plateau, 2 blancs et 2 noirs<br />
                </p>
                <img src="{{ app.request.basepath }}/image/start.png" alt="image position de départ" width="75%"/>
                <p>
                    Le noir commence, il peut placer un pion à c&ocirc;té d'un pion adverse,<br />
                    si le joueur possède un pion sur la m&ecirc;me ligne (ou diagonale) collé aux pions adverses.
                    Sur l'image ci-dessus les cases jouables sont représentées par des petits points de la couleur du joueur (noir)<br />
                    Tout les pions situés entre ces deux points deviennent de la couleur du joueur<br />
                    Ensuite c'est au tour de l'adversaire, et ainsi de suite.<br />
                    Si l'un des joueurs ne peut jouer c'est à nouveau au tour de l'autre joueur<br />
                    La partie se termine lorsque toutes les cases du plateau sont remplies ou que plus personne ne peut jouer<br />
                    Les points sont calculés de la maniére suivante : Les points du joueurs soustraits aux points de l'ordinateur<br />
                    Si le résultat est positif, le joueur gagne sinon l'adversaire gagne.
                    Pour plus d'explications <a href="http://www.lecomptoirdesjeux.com/regle-reversi.htm">cliquez ici</a>
                </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="{{ app.request.basepath }}/js/reversiUtils.js"></script>
{% endblock %}